.transition-group--home {
  width: 300px;
  height: 200px;
  background-color: cyan;
}

.transition-group--page1 {
  width: 300px;
  height: 200px;
  background-color: lightcoral;
}

.transition-group--page2 {
  width: 300px;
  height: 200px;
  background-color: lightgreen;
}

.transition-item {
  transition: all 0.5s linear;
}

.fade.entering {
  opacity: 0;
}

.fade.entered {
  opacity: 1;
}

.fade.exiting {
  opacity: 1;
}

.fade.exited {
  opacity: 0;
}

.slide.entering {
  transform: translateX(-500%);
}

.slide.entered {
  transform: translateX(0);
}

.slide.exiting {
  transform: translateX(0);
}

.slide.exited {
  transform: translateX(500%);
}